body{
    margin: 40px;

}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    background-color: #fff;
    grid-gap: 15px;
    color: #444;

}
.box{
    background-color: green;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}


.header{
    grid-column: 1/6;
    /* border: 1px solid black; */
}
.article{
    grid-column: 1/5;
    /* border: 1px solid black; */
}
.aside{
    grid-column: 5/6;
    grid-row: 2/4;
    /* border: 1px solid black; */
}
.footer{
    grid-column: 1/6;
    /* border: 1px solid black; */
}