body
{
    color: #000;
    /* background-color: red; */
    background-image: url(/paisaje.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 50%; */
    /* height: 50px; */
    
    font-family: Arial ,'Times New Roman';
}   

#titulo
{
    color: blue;
}

#contenedor
{
    display: flex;
    justify-content: center;
    align-items: center;
    place-items:center;
}

#contenedor > img
{
    width: 100px;
}